.box {
  &__header {
    position: relative;

    section {
      height: 40px;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 22px;
        font-weight: 400;
        color: rgba(7,2,55,1);
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        height: 40px;
        line-height: 38px;
      }
    }
  }

  &__time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 40px;;

    span {
      font-size: 32px;
      color: #070237;
      font-weight: bold;
      padding-left: 10px;

      label {
        color: #9F9DB4;
        padding-left: 10px;
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .box {
    &__header {
      section {
        height: 30px;
        span {
          height: 30px;
          line-height: 30px;
          font-size: 13px;
        }
      }
    }

    &__time {
      margin: 10px 0 23px;
      span {
        font-size: 17px;
        label {
          font-size: 12px;
        }
      }
    }
  }
}
