.voting {
  min-height: 500px;
  width: 922px;
  margin: 60px auto;

  &__item {
    background: rgba(255,255,255,1);
    border: 1px solid rgba(223, 222, 234, 1);
    border-radius: 6px;
    padding: 22px 23px;
    margin-bottom: 20px;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-size: 24px;
        color: #070237;
        padding: 0;
        margin: 0;
      }

      button {
        min-width: 98px;
      }
    }

    p {
      font-size: 16px;
      color: #070137;
      margin-top: 14px;
      font-weight: 400;
    }

    &_passed {
      color: #20BC9B;
      font-size: 14px;
      width:98px;
      height:30px;
      background:rgba(231,249,245,1);
      border-radius:3px;
      text-align: center;
      line-height: 30px;
      font-weight: 500;
    }

    &_fail {
      color: #F05A1F;
      font-size: 14px;
      width:98px;
      height:30px;
      background:rgba(252,240,235,1);
      border-radius:3px;
      text-align: center;
      line-height: 30px;
      font-weight: 500;
    }

    &_time, &_result {
      font-size: 16px;
      display: flex;
      align-items: center;
      color: #7A7889;

      img {
        width: 14px;
        margin-right: 8px;
      }
    }
    &_time {
      margin: 33px 0 12px;
    }

    &_result {
      b {
        color: #070237;
        padding: 0 5px;
      }
    }
    &_remark {
      padding-left: 22px;
      font-size: 16px;
      color: #7A7889;

      b {
        color: #070237;
        padding: 0 5px;
      }
    }
  }
}
